.active {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;
    padding: 2px;
}

.profile-button{
    background-color: black;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;
}
.nav-links-logged-in {
 display: flex;
 /* justify-content: end; */
}

.nav-to-songs-link {
    display: flex;
    justify-content: center;

}

.nav-links-logged-out {
    display: flex;
    justify-content: end;

   }

   .nav-add-song {
    background-color: black;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;
    padding: 2px;

   }

   .nav-add-album {
    background-color: black;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;
    padding: 5px;

   }

   .nav-links-logged {
    display: flex;
    justify-content: flex-end;
    /* background-color: black; */
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;

   }

   .home-button {
    background-image: url(https://i.pinimg.com/originals/e9/60/c5/e960c532c6e1b234eed8463e71520d3b.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .sign-up {
    padding: 2px;
    border: 2.5px solid rgb(255, 102, 0);
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.573);
    border-style: double;
    border-radius: 10px;
    color: rgb(255, 102, 0);
   }

   .sign-up:hover {
    background-color: rgb(255, 102, 0);
    color: aliceblue;
    border-style: ridge;
    border-color: rgb(43, 64, 253);
   }


   .log-in:hover {
    background-color: rgb(255, 102, 0);
    color: aliceblue;
    border-style: ridge;
    border-color: rgb(43, 64, 253);
   }
   .log-in{

    padding: 2px;
    border: 2.5px solid rgb(255, 102, 0);
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.573);
    border-style: double;
    border-radius: 10px;
    color: rgb(255, 102, 0);
   }

   .create-buttons {


   }

   .nav-to-albums-link {
    background-color: black;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;
    text-align: center;
    align-items: center;
   }

   .nav-to-songs-link {
    background-color: black;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: orange;
    border-style: double;
    text-align: center;
    align-items: center;
   }
