.active {
    display: flex;
    justify-content: flex-start;
}

.nav-links-logged-in {
 display: flex;
 justify-content: end;
}

.nav-to-songs-link {
    display: flex;
    justify-content: center;

}

.nav-links-logged-out {
    display: flex;
    justify-content: end;
   }

   .nav-add-song {

   }

   .nav-add-album {

   }

   .nav-links-logged {
    display: flex;
    justify-content: flex-end;

   }

   .home-button {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .create-buttons {

   }

   .nav-to-albums-link {

   }
