input{
    background-color: rgb(2, 48, 71);
    color: rgb(251, 133, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: rgb(33, 158, 188);
    border-style: double;
    padding: 2px;
}
